<div class="modal-header">
  <b> DATI RESPINGI AUTORIZZAZIONE</b>
</div>
<div class="modal-body">
  <small> Si vuole procedere con la non autorizzazione degli SDD selezionati?</small>
  <div>
  <small> L'eventuale nota inserita verrà associata a tutti gli elementi selezionati</small>
  </div>
</div>
<div class="formContent">
  <div class="form-group row">
    <label for="" class="col-2"> Data </label>
  <div class="col-9">
  <input [value]="currentDate" type="text"  readonly>
  <div class="col-1"></div>
  </div>
</div>

<div class="form-group row">
 <label for="" class="col-2">Nota interna</label>
 <textarea class="col-9" rows="" cols="" ></textarea>
 <div class="col-1"></div>
</div>

</div>
<div class="modal-footer">
  <div class="row">
  <div class="col-6"><button type="button" class="btn btn-primary " (click)="closeModal()"><b>Annulla </b></button></div>
  <div class="col-6 text-right"><button type="button"class="btn btn-primary "><b>Conferma </b></button></div>
  </div>

</div>

