<div class="form-group row">
  <label for="" class="col-1">
<button type = "button" class="btn btn-primary ngp-button" (click)="openAu()">Autorizza</button>
</label>
</div>

<div class="form-group row">
  <label for="" class="col-1">
<button type = "button" class="btn btn-primary ngp-button" (click)="openRe()">Respingi</button>
</label>
</div>

<div class="form-group row">
  <label for="" class="col-1">
<button type = "button" class="btn btn-primary ngp-button" (click)="openRi()">Rigetta</button>
</label>
</div>

